<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">PANEL DE ADMINISTRADOR</a>

    <form action="/api/sessions/logout" method="GET" class="d-flex">
      <button class="btn btn-outline-primary" type="button">Log Out</button>
    </form>

  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">USUARIOS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Cargar todos</button>
          <button type="button" class="btn btn-primary">Buscar por ID</button>
        </div>
      </div>
    </div> 
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">PRODUCTOS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Cargar todos</button>
        <button type="button" class="btn btn-primary">Crear</button>
        <button type="button" class="btn btn-primary">Buscar por ID</button>
      </div>
    </div>
  </div>
</nav>

{{!-- <div class="navbar-nav">
  <a class="nav-link active" aria-current="page" href="#">Cargar todos</a>
  <a class="nav-link" href="#">Crear</a>
  <a class="nav-link" href="#">Buscar por ID</a>
</div> --}}