<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-5 bg-black text-black rounded">
            <div class="card-header text-center pt-5">
                <h1 class="h4 text-black">
                    INICIAR SESIÓN
                </h1>
                <h2 class="h4 text-black">
                    Entre a su cuenta
                </h2>
            </div>

            <div class="card-body">
                <form id="loginForm">
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control bg-white text-black" id="email" name="email"
                            autofocus />
                    </div>
                    <div class="mb-3">
                        <label for="passswore">Contraseña:</label>
                        <input type="password" class="form-control bg-white text-black" id="password" name="password" />
                    </div>
                    <button type="submit" id="submit" class="btn btn-success btn-block">
                        Iniciar Sesión
                    </button>
                </form>
                <button id="githubLogin" class="btn btn-success btn-block">
                    Iniciar sesión con GitHub
                </button>
            </div>
            <p id="passwordError" class="text-red-500 text-sm mt-1 hidden"></p>
            <div>
                <a href="../userside/recoverPass">¿Olvidó su contraseña?</a>
            </div>

            <div id="register">
                <p>Si ya es usuario de nuestro servicio, iniciar sesión
                    <br>
                    <a class="hover:underline" href="/index">Ir a Registro</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>