{{>navAdmin}}

<section>
  <div>
    <div>
      <h2>Cargar productos</h2>
    </div>
    <form id="productForm" class="form">
      <input type="hidden" id="productId">
      <div class="row">
        <div class="col-12">
          <label for="title">Nombre del producto:</label>
          <input class="form-control" type="text" id="title" required><br>
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Descripción:</label>
          <input class="form-control" type="text" id="description" required><br>
        </div>
        <div class="col-4">
          <label for="stock" class="form-label">Stock:</label>
          <input class="form-control" type="number" id="stock" required>
        </div>
        <div class="col-4">
          <label for="category" class="form-label">Categoría:</label>
          <input class="form-control" type="text" id="category" required>
        </div>
        <div class="col-4">
          <label for="code" class="form-label">Código:</label>
          <input class="form-control" type="text" id="code" required>
        </div>
        <div class="col-6">
          <label for="price" class="form-label">Precio:</label>
          <input class="form-control" type="number" id="price" required>
        </div>
        <div class="col-6">
          <label for="thumbnail" class="form-label">URL Imagen:</label>
          <input class="form-control" type="text" id="thumbnail">
        </div>
      </div>

      <div class="mt-5">
        <button type="submit" class="btn btn-lg btn-success">Cargar producto</button>
      </div>
    </form>

    <script src="/js/createEditProducts.js"></script>

