
{{>navUser}}
       
    <h1>Carrito de Compras</h1>
    <p id="user-info"></p>
    <div id="cart-products">
    </div>
    <button id="go-to-ticket">Finalizar Compra</button>
    <button id="home">Volver al Home</button>
    
<script src="/js/cart.js"></script>