{{>navUser}}

<h1>Carrito de Compras</h1>
<p id="user-info"></p>
<div id="cart-products">
</div>
<button id="go-to-ticket">Finalizar Compra</button>
<a id="home" href="/home" class="btn btn-primary">Volver al Home</a>

<script src="/js/cart.js"></script>